/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* Login page */

/* Hero */
.hero {
    background: url("../assets/images/dating-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;;
    position: relative;
    height: 100vh;
    width: 100%;
}
/* Hero container */
.hero-container{
    width: 50vw;
    background-color: white;
}

.hero-container-title{
    justify-self: start;
    font-size: 2vw;
}
.input{
    height: 3vw;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: #98d7e6;
    padding: 1px 2px 1px 5px;
}
.input::placeholder{
    color: #98d7e6;
    font-size: 1vw;
}

/* Register */
.hero-container-register-now{
    align-self: flex-end;
    margin:2vw 1vw 1vw 1vw;
    font-size: 1.2vw;
}
.hero-container-register-now a{
    text-decoration: none;
}
.hero-container-gender{
    width: 14vw;
    font-size: 1vw;
}

/* Home */
.home-nav{
    height: 15vh;
    color: black;
}
.home-nav>img{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
}
.home-users-from{
    background-color: #98d7e6;
    height: 5vw;
    width: 100%;
    padding: 1vw 2vw 1vw 2vw;
    color: black;
}
.home-users-from>p{
    font-size: 2vw;
}
.users{
    display: flex;
    flex-wrap: wrap;
}
.user{
    margin: 1vw 1vw 0vw 1vw;
    height: 18vw;
    width: 30vw;
    border-color: #98d7e6;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    padding: 1vw 2vw 1vw 2vw;
    display: flex;
    flex-direction: column;
}
.user-profile-image{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
}
.user-first-child{
    display: flex;
    justify-content: space-between;
}
.user-second-child{
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.user-third-child{
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-third-child>button{
    color:red;
    background-color: white;
    cursor: pointer;
}
/* Utilises */
.margin-left-1{
    margin-left: 1vw;
}
.color-blue{
    color: #98d7e6;
}
.cursor-pointer{
    cursor: pointer;
}
.btn{
    height: 3vw;
    width: 10vw;
    border-color: #98d7e6;
    background-color: white;
    border-radius: 5px;
    font-size: 1vw;
    font-weight: bolder;
}
.margin-top-1{
    margin-top: 1vw;
}
.margin-top-2{
    margin-top: 2vw;
}
.flex{
    display: flex;
    flex-direction: row;
}
.justify-content-center{
    justify-content: center;
    align-items: center;
    align-content: center;
}
.flex-place-items-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.height-30{
    height: 30vw;
}
.height-70{
    height: 48vw;
}
.text-area{
    width: 17vw;
}
.font-weight-bloder{
    font-weight: bolder;
}
.justify-content-end{
    justify-content: end;
}
.justify-right-3{
   margin-right: 3vw;
}